* {
    box-sizing: border-box;
  }
  
  body {
    
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 10px;
    text-align: center;
 
    
  }
  
  .first-box{
    background-color: purple;
    padding: 15px;
    margin: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap:5px;
   
    }
    
  

  .cabeza{
    
  }
  .cabeza1{
    background-color: black;
    width: 20%;
    
    
    
  }
  .cabeza2{
   background-color: black;
   width: 60%;
   
   
  }
  .cabeza3{
    background-color: black;
    width: 20%;
    
    
  }
  .second-box{
   
   background-color: purple;
    padding: 15px;
    margin: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap:5px;
    
   
  }
  .cabeza4{
    background-color: black;
    width: 100%;
  
  }

  /*style of main*/
  section{
    width:100%;
  }
  
  .main-box {
    display: grid;
    background-color: purple;
    width: auto;
    padding:5px;
    gap:10px;
    
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2; background-color: black; width: 100%; }
.div2 { grid-area: 1 / 2 / 2 / 3; background-color: black; width: 100%;}
.div3 { grid-area: 2 / 1 / 3 / 2; background-color: black;width: 100%;}
.div4 { grid-area: 2 / 2 / 3 / 3; background-color: black; width: 100%}
.div5 { grid-area: 3 / 1 / 4 / 3; background-color: black; width: 100%}
  

.third-box{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    
    
}
.div6 { grid-area: 1 / 1 / 2 / 6; background-color: black;
    }
.div7 { grid-area: 2 / 1 / 3 / 6; background-color: black; ;
    }
 


  nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 126px; 
    background: rgb(166, 161, 161);
    padding: 20px;
    margin-top: 15px;
    
   
  }
  
  
 
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #4f4343;
    height: auto; 
    margin-top: 1px;
   
   
  }
  
 
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    
   
  }
  .footer-box{
    background-color: black;
    padding:0px;
    
  }
  
  /* Responsive layout */

  /*max-width:1200px Deskop advice */

  @media screen and (max-width: 1200px){
    html {
        overflow-x: initial; background-color: white;}
    .first-box{
        background-color: rgb(179, 60, 60);}
    .second-box{
        background-color: white;}
    .main-box{background-color: bisque;}
    .third-box{background-color: cadetblue;}
    }

    
  

  /*tablet advice*/
  @media screen and (max-width: 800px) {
    
    nav, article {width: 100%; height: auto; margin-top: 15px;}
   
    .first-box{
        background-color: rgb(71, 163, 73); margin-bottom: 15px; }
    .second-box{
        background-color: rgb(28, 93, 8);}
    .main-box{background-color: rgb(124, 139, 36);}
    .third-box{background-color: rgb(57, 189, 55);}
    .footer-box{margin:15px; padding:5px}
  }
  /*phone advice*/
  @media only screen and (max-width: 300px){

    .cabeza {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
        
        .first-box { display: flex; flex-direction:column; width: 100%; }
        .second-box { display: flex; flex-direction:column; width: 100%}

        .cabeza1{display: flex; flex-direction:column; width: 100%}
        .cabeza2{display: flex; flex-direction:column; width: 100%}
        .cabeza3{display: flex; flex-direction:column; width: 100%}
        .cabeza4{display: flex; flex-direction:column; width: 100%}

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    
    .first-box{
        background-color: rgb(194, 139, 38); width:92%}
    .second-box{
        background-color: rgb(163, 71, 18); width:92%;}
    .main-box{background-color: rgb(216, 205, 49);}
    .third-box{background-color: rgb(165, 141, 32);}
    .footer-box{ padding: 1px;}
  }
